# Scrapy Spider Cron Config:

# min   hour    day     month   weekday command
# *     *       *       *       *       sh /srv/crawl/run-spider.sh spider-name

0       0       *       *       *       sh /srv/crawl/run-spider.sh stocks
30      15      *       *       *       sh /srv/crawl/run-spider.sh stock_details
0      19       * 1,2,3,4,7,8,10 *      sh /srv/crawl/run-spider.sh circulation_shareholders
