# Scrapy Spider Cron Config:

# min   hour    day     month   weekday command
# *     *       *       *       *       sh /srv/crawl/run-spider.sh spider-name

0       0       *       *       *       sh /srv/crawl/run-spider.sh stocks #爬取股票名单
30      15      *       *       *       sh /srv/crawl/run-spider.sh stock_details #爬取股票详情